{
  "ECU": [
    {
      "name": "ESP32",
      "canInterface": "can0",
      "can_id_firmware": "0x123",
      "ip": "192.168.193.9"
    },
    {
      "name": "ATMEGA328P",
      "canInterface": "can0",
      "can_id_size": "0x01",
      "can_id_firmware": "0x02",
      "reset_pin": "23"
    },
    {
      "name": "STM32",
      "canInterface": "can0",
      "can_id_size": "0x01",
      "can_id_firmware": "0x02",
      "reset_pin": "24"
    }
  ]
}


